/LapkaBackend.API/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/LapkaBackend.Application/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/LapkaBackend.Domain/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/LapkaBackend.Infrastructure/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/.idea/.idea.LapkaBackend.dir/.idea/encodings.xml
/LapkaBackend.API/obj/Debug/net7.0/LapkaBackend.API.AssemblyInfo.cs
/LapkaBackend.API/obj/Debug/net7.0/LapkaBackend.API.AssemblyInfoInputs.cache
/LapkaBackend.API/obj/Debug/net7.0/LapkaBackend.API.assets.cache
/LapkaBackend.API/obj/Debug/net7.0/LapkaBackend.API.csproj.AssemblyReference.cache
/LapkaBackend.API/obj/LapkaBackend.API.csproj.nuget.dgspec.json
/LapkaBackend.API/obj/LapkaBackend.API.csproj.nuget.g.props
/LapkaBackend.API/obj/LapkaBackend.API.csproj.nuget.g.targets
/LapkaBackend.API/obj/Debug/net7.0/LapkaBackend.API.GeneratedMSBuildEditorConfig.editorconfig
/LapkaBackend.API/obj/Debug/net7.0/LapkaBackend.API.GlobalUsings.g.cs
/LapkaBackend.Application/obj/Debug/net7.0/LapkaBackend.Application.AssemblyInfo.cs
/LapkaBackend.Application/obj/Debug/net7.0/LapkaBackend.Application.AssemblyInfoInputs.cache
/LapkaBackend.Application/obj/Debug/net7.0/LapkaBackend.Application.assets.cache
/LapkaBackend.Application/obj/Debug/net7.0/LapkaBackend.Application.csproj.AssemblyReference.cache
/LapkaBackend.Application/obj/LapkaBackend.Application.csproj.nuget.dgspec.json
/LapkaBackend.Application/obj/LapkaBackend.Application.csproj.nuget.g.props
/LapkaBackend.Application/obj/LapkaBackend.Application.csproj.nuget.g.targets
/LapkaBackend.Application/obj/Debug/net7.0/LapkaBackend.Application.GeneratedMSBuildEditorConfig.editorconfig
/LapkaBackend.Application/obj/Debug/net7.0/LapkaBackend.Application.GlobalUsings.g.cs
/LapkaBackend.Domain/obj/Debug/net7.0/LapkaBackend.Domain.AssemblyInfo.cs
/LapkaBackend.Domain/obj/Debug/net7.0/LapkaBackend.Domain.AssemblyInfoInputs.cache
/LapkaBackend.Domain/obj/Debug/net7.0/LapkaBackend.Domain.assets.cache
/LapkaBackend.Domain/obj/Debug/net7.0/LapkaBackend.Domain.csproj.AssemblyReference.cache
/LapkaBackend.Domain/obj/LapkaBackend.Domain.csproj.nuget.dgspec.json
/LapkaBackend.Domain/obj/LapkaBackend.Domain.csproj.nuget.g.props
/LapkaBackend.Domain/obj/LapkaBackend.Domain.csproj.nuget.g.targets
/LapkaBackend.Domain/obj/Debug/net7.0/LapkaBackend.Domain.GeneratedMSBuildEditorConfig.editorconfig
/LapkaBackend.Domain/obj/Debug/net7.0/LapkaBackend.Domain.GlobalUsings.g.cs
/LapkaBackend.Infrastructure/obj/Debug/net7.0/LapkaBackend.Infrastructure.AssemblyInfo.cs
/LapkaBackend.Infrastructure/obj/Debug/net7.0/LapkaBackend.Infrastructure.AssemblyInfoInputs.cache
/LapkaBackend.Infrastructure/obj/Debug/net7.0/LapkaBackend.Infrastructure.assets.cache
/LapkaBackend.Infrastructure/obj/Debug/net7.0/LapkaBackend.Infrastructure.csproj.AssemblyReference.cache
/LapkaBackend.Infrastructure/obj/LapkaBackend.Infrastructure.csproj.nuget.dgspec.json
/LapkaBackend.Infrastructure/obj/LapkaBackend.Infrastructure.csproj.nuget.g.props
/LapkaBackend.Infrastructure/obj/LapkaBackend.Infrastructure.csproj.nuget.g.targets
/LapkaBackend.Infrastructure/obj/Debug/net7.0/LapkaBackend.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/LapkaBackend.Infrastructure/obj/Debug/net7.0/LapkaBackend.Infrastructure.GlobalUsings.g.cs
/LapkaBackend.sln
/LapkaBackend.API/obj/project.assets.json
/LapkaBackend.Application/obj/project.assets.json
/LapkaBackend.Domain/obj/project.assets.json
/LapkaBackend.Infrastructure/obj/project.assets.json
/LapkaBackend.API/obj/project.nuget.cache
/LapkaBackend.Application/obj/project.nuget.cache
/LapkaBackend.Domain/obj/project.nuget.cache
/LapkaBackend.Infrastructure/obj/project.nuget.cache
/LapkaBackend.API/obj/project.packagespec.json
/LapkaBackend.Application/obj/project.packagespec.json
/LapkaBackend.Domain/obj/project.packagespec.json
/LapkaBackend.Infrastructure/obj/project.packagespec.json
/LapkaBackend.API/obj/rider.project.restore.info
/LapkaBackend.Application/obj/rider.project.restore.info
/LapkaBackend.Domain/obj/rider.project.restore.info
/LapkaBackend.Infrastructure/obj/rider.project.restore.info
